<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理用户</title>
</head>
<body onload="paintPie({{ user_dig }})">
<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/toastr.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/fileinput.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/theme.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/report.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
<script type="application/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
<script type="application/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
<script type="application/javascript" src="/static/js/toastr.min.js"></script>
<script type="application/javascript" src="/static/js/fileinput.js"></script>
<script type="application/javascript" src="/static/js/http.js"></script>
<script type="application/javascript" src="/static/js/echarts.js"></script>
<script type="application/javascript" src="/static/js/main.js"></script>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SQL智能检测系统</a>
        </div>
        <div class="navbar-collapse collapse">
            <div style="float: right;">
                <button type="button" class="btn btn-lg btn-link" onclick="logout()">登出</button>
            </div>
            <ul class="nav navbar-nav">

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container my-4">
    <div class="panel panel-info">
        <div class="panel-heading my-panel">
            <h3 class="panel-title">用户信息</h3>
        </div>
        <div class="panel-body">
            <div id="user-pie" style="width: 100%;height: 300px"></div>
        </div>
    </div>
</div>
{#<div class="container my-4">#}
{#    <div class="panel panel-info">#}
{#        <div class="panel-heading my-panel">#}
{#            <h3 class="panel-title">用户注册登录信息</h3>#}
{#        </div>#}
{#        <div class="panel-body">#}
{#        </div>#}
{#    </div>#}
{#</div>#}
<div class="container my-4">
    <div class="panel panel-info">
        <div class="panel-heading my-panel">
            <h3 class="panel-title">管理用户</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped" style="text-align: center">
                <caption>用户列表</caption>
                <thead>
                <tr>
                    {% for i in menu %}
                        <td>{{ i }}</td>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for line in users %}
                    <tr>
                        <td>{{ line.id }}</td>
                        <td>{{ line.user_id }}</td>
                        <td>{{ line.username }}</td>
                        <td>{{ line.create_time }}</td>
                        <td>
                            {% ifequal line.state 0 %}
                                <span>已被冻结</span>
                            {% else %}
                                <span>已被激活</span>
                            {% endifequal %}

                        </td>
                        <td>
                            {% ifequal line.state 0 %}
                                <button type="button" class="btn btn-sm btn-info" onclick="react({{ line.user_id }})">激活
                                </button>
                            {% else %}
                                <button type="button" class="btn btn-sm btn-warning"
                                        onclick="freeze({{ line.user_id }})">冻结
                                </button>

                            {% endifequal %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
<script type="application/javascript" src="/static/js/util.js"></script>
<script src="/static/js/admin.js"></script>
</html>