<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件内容</title>
</head>
<body>
<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/toastr.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/fileinput.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/theme.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/report.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
<script type="application/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
<script type="application/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
<script type="application/javascript" src="/static/js/toastr.min.js"></script>
<script type="application/javascript" src="/static/js/fileinput.js"></script>
<script type="application/javascript" src="/static/js/http.js"></script>
<script type="application/javascript" src="/static/js/main.js"></script>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">SQL智能检测系统</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="../test/"><span class="glyphicon glyphicon-home"></span>&nbsp;主页</a></li>
                <li class="active"><a href="../../list/"><span
                        class="glyphicon glyphicon-align-justify"></span>&nbsp;检测列表</a></li>

            </ul>
            <div style="float: right;">
                <button type="button" class="btn btn-lg btn-link" onclick="logout()">登出</button>
            </div>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container my-4">
    <div class="panel panel-info">
        <div class="panel-heading my-panel">
            <h3 class="panel-title">文件内容</h3>
        </div>
        <div class="panel-body">
            {{ data|linebreaks }}
        </div>
    </div>
</div>
</body>
<script type="application/javascript" src="/static/js/util.js"></script>
<script src="/static/js/list.js"></script>
</html>