<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>检测列表</title>
</head>
<body>
<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/toastr.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/fileinput.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/theme.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
<script type="application/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
<script type="application/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
<script type="application/javascript" src="/static/js/toastr.min.js"></script>
<script type="application/javascript" src="/static/js/fileinput.js"></script>
<script type="application/javascript" src="/static/js/http.js"></script>
<script type="application/javascript" src="/static/js/main.js"></script>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SQL智能检测系统</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="../test/"><span class="glyphicon glyphicon-home"></span>&nbsp;主页</a></li>
                <li class="active"><a href=""><span
                        class="glyphicon glyphicon-align-justify"></span>&nbsp;检测列表</a></li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

{#{% if menu %}#}
{#    <ul>#}
{#        {% for line in menu %}#}
{#            <li>{{ line }}</li>#}
{#            <li>{{ line.value }}</li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#{% endif %}#}


<div class="container theme-showcase" role="main">
    <table class="table table-striped" style="text-align: center">
        <caption>SQL检测列表</caption>
        <thead>
        <tr>
            {% for i in menu %}
                <td>{{ i }}</td>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for line in task_list %}
            <tr>
                <td>{{ line.id }}</td>
                <td>{{ line.file_name }}</td>
                <td>{{ line.create_time }}</td>
                <td>
                    {% ifequal line.state -1 %}
                        测试
                    {% else %}
                        {% ifequal line.state 0 %}
                            未测试
                            {% else %}
                            测试成功
                        {% endifequal %}
                    {% endifequal %}

                </td>
                <td>
                    {% ifequal line.state -1 %}
                        <button type="button" class="btn btn-sm btn-warning" onclick="restart({{ line.id }})">重新测试</button>
                    {% else %}
                        {% ifequal line.state 0 %}
                            <button type="button" class="btn btn-sm btn-success" onclick="start({{ line.id }})">开始测试</button>
                            {% else %}
                            <button type="button" class="btn btn-sm btn-info" onclick="report({{ line.id }})">查看报告</button>
                        {% endifequal %}
                    {% endifequal %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
<script src="/static/js/list.js"></script>
</html>