<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>检测报告</title>
</head>
<body>
<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/toastr.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/fileinput.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/theme.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/report.css"/>
<script type="application/javascript" src="/static/js/jquery-3.3.1.min.js"></script>

<script type="application/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
<script type="application/javascript" src="/static/js/toastr.min.js"></script>
<script type="application/javascript" src="/static/js/fileinput.js"></script>
<script type="application/javascript" src="/static/js/http.js"></script>
<script type="application/javascript" src="/static/js/echarts.js"></script>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SQL智能检测系统</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="../../test/"><span class="glyphicon glyphicon-home"></span>&nbsp;主页</a></li>
                <li class="active"><span
                        class="glyphicon glyphicon-list-alt"></span>&nbsp;检测报告
                </li>

            </ul>
            <div style="float: right;">
                <button type="button" class="btn btn-lg btn-link" onclick="logout()">登出</button>
            </div>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container my-4">
    <div class="panel panel-info">
        <div class="panel-heading my-panel">
            <h3 class="panel-title">基本信息</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">检测文件名称</h3>
                        </div>
                        <div class="panel-body">
                            {{ info.file_name }}
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">检测时长</h3>
                        </div>
                        <div class="panel-body">
                            {{ info.last_time }}
                        </div>
                    </div>
                </div><!-- /.col-sm-4 -->
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">提测用户</h3>
                        </div>
                        <div class="panel-body">
                            {{ info.user_name }}
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">其他信息</h3>
                        </div>
                        <div class="panel-body">
                            无
                        </div>
                    </div>
                </div><!-- /.col-sm-4 -->

                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">提测时间</h3>
                        </div>
                        <div class="panel-body">
                            {{ info.time }}
                        </div>
                    </div>

                </div><!-- /.col-sm-4 -->
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading my-panel">
            <h3 class="panel-title">统计信息</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-6">
                <div id="pie" style="width: 500px;height: 500px"></div>
            </div>
            <div class="col-md-6">
                <div id="pie2" style="width: 500px;height: 500px"></div>
            </div>

        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading my-panel">
            <h3 class="panel-title">详细信息</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped" style="text-align: center">
                <caption>SQL错误列表</caption>
                <thead>
                <tr>
                    {% for i in menu %}
                        <td>{{ i }}</td>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for line in list %}
                    <tr>
                        <td>{{ line.id }}</td>
                        <td>{{ line.table_name }}</td>
                        <td>{{ line.user_name }}</td>
                        <td>{{ line.file_name }}</td>
                        <td>{{ line.mistake_type }}</td>
                        <td>
                            {% ifequal line.mistake_grade '高危' %}
                                <span class="my-high-danger">{{ line.mistake_grade }}</span>
                            {% else %}
                                {% ifequal line.mistake_grade '中危' %}
                                    <span class="my-mid-danger">{{ line.mistake_grade }}</span>
                                {% else %}
                                    {% ifequal line.mistake_grade '低危' %}
                                        <span class="my-low-danger">{{ line.mistake_grade }}</span>
                                    {% else %}
                                        {% ifequal line.mistake_grade '多余' %}
                                            <span class="my-extra">{{ line.mistake_grade }}</span>
                                        {% else %}
                                            {{ line.mistake_grade }}
                                        {% endifequal %}
                                    {% endifequal %}
                                {% endifequal %}
                            {% endifequal %}


                        </td>
                        <td>{{ line.time }}</td>
                        <td>{{ line.other }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


</body>
<script type="application/javascript" src="/static/js/util.js"></script>
<script type="application/javascript" src="/static/js/report.js"></script>

</html>